* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 1200px;
  margin: 0 auto;
  padding: 30px;
}

@import "main";
@import "propertyAnchor";
@import "propertyNesting";
@import "shablonSelectors";
@import "comments";
